---
name: Create and publish a Docker image for every release

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME_GALAXY: fortytwoservices/swaggerimporter

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      # Extract metadata (tags, labels) for container
      # if the event that triggered the workflow is a release
      - name: Release Galaxy, Extract metadata (tags, labels)
        id: meta_release_galaxy
        if: github.event_name == 'release'
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_GALAXY }}
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index

      # Build and push the Docker image
      # if the event that triggered the workflow is a release
      - name: Release Galaxy, Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        if: github.event_name == 'release'
        with:
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta_release_galaxy.outputs.tags }}
          labels: ${{ steps.meta_release_galaxy.outputs.labels }}
          annotations: ${{ steps.meta_release_galaxy.outputs.annotations }}
          outputs: type=image,oci-mediatypes=true
